# Data Preparation

### Import libraries

In [33]:
import pandas as pd
import numpy as np
import re

### Read raw SGX financial statement data

In [34]:
# Read raw data file
sgx = pd.read_excel("data/raw_sgx_data.xlsx", index_col= None)
sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Total current assets\nUSD 2023,Total current assets\nUSD 2022,Total current assets\nUSD 2021,Total current assets\nUSD 2020,Total current assets\nUSD 2019,Total current assets\nUSD 2018,Total current assets\nUSD 2017,...,Interest coverage\n2013,Interest coverage\n2012,Interest coverage\n2011,Interest coverage\n2010,Interest coverage\n2009,Interest coverage\n2008,Interest coverage\n2007,Interest coverage\n2006,Interest coverage\n2005,Interest coverage\n2004
0,WILMAR INTERNATIONAL LIMITED,1041.0,C1,34373692000,32632410000,31814998000,27923570000,25583701000,26290404000,22579397000,...,2.809,2.882,3.544,6.591,16.51,5.393,5.747,2.758,1.57,-13.415
1,OLAM GROUP LIMITED,NaN,C1,17225670747.034698,15858883280.3866,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,FLEX LIMITED,2612.0,C1,n.a.,16021000000,14337000000,11363000000,9086270000,9103432000,9170414000,...,8.398,5.477,16.029,9.121,0.892,-31.282,1.648,6.674,3.597,4.113
3,JARDINE CYCLE & CARRIAGE LTD,4519.0,C1,11564100000,12131100000,11813500000,10056700000,10274500000,10107700000,9833700000,...,19.474,21.672,37.473,50.807,31.969,25.8,14.819,7.346,16.934,61.926
4,CHINA AVIATION OIL (SINGAPORE) CORP LTD,4671.0,C1,n.a.,1205905000,1227737000,1567111000,1480610000,1330707000,1575915000,...,5.688,12.647,25.66,41.519,60.786,52.089,28.355,31.801,4.233,1.174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,PRINCIPAL S&P ETHICAL ASIA PACIFIC DIVIDEND ETF,6430.0,NF,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
601,GLOBAL INVESTMENTS LIMITED,6619.0,C1,76748826.021373,74323216.914833,73032480.209112,74967855.558395,92773161.569118,75400059.378862,99939396.802247,...,32.132,3.342,3.245,4.57,3.681,0.515,1.946,152.005,n.a.,n.a.
602,I M QUARRIES LIMITED,8552.0,C1,n.a.,0,480271.908641,482482.197881,466764.930487,553875.669301,791339.493155,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
603,ABF PAN ASIA BOND INDEX FUND,NaN,NF,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
604,YANGI FUND,6420.0,NF,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Cleaning raw SGX financial statement data

In [35]:
sgx = sgx.replace({"n.a.": np.nan, "n.s.": np.nan, 0: np.nan})
sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Total current assets\nUSD 2023,Total current assets\nUSD 2022,Total current assets\nUSD 2021,Total current assets\nUSD 2020,Total current assets\nUSD 2019,Total current assets\nUSD 2018,Total current assets\nUSD 2017,...,Interest coverage\n2013,Interest coverage\n2012,Interest coverage\n2011,Interest coverage\n2010,Interest coverage\n2009,Interest coverage\n2008,Interest coverage\n2007,Interest coverage\n2006,Interest coverage\n2005,Interest coverage\n2004
0,WILMAR INTERNATIONAL LIMITED,1041.0,C1,3.437369e+10,3.263241e+10,3.181500e+10,2.792357e+10,2.558370e+10,2.629040e+10,2.257940e+10,...,2.809,2.882,3.544,6.591,16.510,5.393,5.747,2.758,1.570,-13.415
1,OLAM GROUP LIMITED,NaN,C1,1.722567e+10,1.585888e+10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FLEX LIMITED,2612.0,C1,NaN,1.602100e+10,1.433700e+10,1.136300e+10,9.086270e+09,9.103432e+09,9.170414e+09,...,8.398,5.477,16.029,9.121,0.892,-31.282,1.648,6.674,3.597,4.113
3,JARDINE CYCLE & CARRIAGE LTD,4519.0,C1,1.156410e+10,1.213110e+10,1.181350e+10,1.005670e+10,1.027450e+10,1.010770e+10,9.833700e+09,...,19.474,21.672,37.473,50.807,31.969,25.800,14.819,7.346,16.934,61.926
4,CHINA AVIATION OIL (SINGAPORE) CORP LTD,4671.0,C1,NaN,1.205905e+09,1.227737e+09,1.567111e+09,1.480610e+09,1.330707e+09,1.575915e+09,...,5.688,12.647,25.660,41.519,60.786,52.089,28.355,31.801,4.233,1.174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,PRINCIPAL S&P ETHICAL ASIA PACIFIC DIVIDEND ETF,6430.0,NF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,GLOBAL INVESTMENTS LIMITED,6619.0,C1,7.674883e+07,7.432322e+07,7.303248e+07,7.496786e+07,9.277316e+07,7.540006e+07,9.993940e+07,...,32.132,3.342,3.245,4.570,3.681,0.515,1.946,152.005,NaN,NaN
602,I M QUARRIES LIMITED,8552.0,C1,NaN,NaN,4.802719e+05,4.824822e+05,4.667649e+05,5.538757e+05,7.913395e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,ABF PAN ASIA BOND INDEX FUND,NaN,NF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
604,YANGI FUND,6420.0,NF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Removing "\nth" pattern and ".1" pattern (for duplicated column names) from the column names
sgx.columns = pd.Index([re.sub(pattern= "\.\d?$", repl= "", string= 
                               re.sub(pattern= " ?\n(th)? ?", repl= " ", string= col)) for col in sgx.columns])

sgx = sgx.loc[:, ~sgx.columns.duplicated()]

In [37]:
# Lengthening dataframe using columns with time periods

id_vars = ['Company name Latin alphabet', 'NACE Rev. 2, core code (4 digits)', 'Consolidation code']

melted_sgx = pd.melt(sgx, id_vars= id_vars)

# Extracting year value from financial statement variable strings

melted_sgx["year"] = melted_sgx["variable"].str.extract(r"(\d{4})$")[0]
melted_sgx["variable"] = melted_sgx["variable"].str.replace("\s+\d{4}$|USD", "", regex= True)
melted_sgx["variable"] = melted_sgx["variable"].str.strip(" ")

melted_sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,variable,value,year
0,WILMAR INTERNATIONAL LIMITED,1041.0,C1,Total current assets,3.437369e+10,2023
1,OLAM GROUP LIMITED,NaN,C1,Total current assets,1.722567e+10,2023
2,FLEX LIMITED,2612.0,C1,Total current assets,NaN,2023
3,JARDINE CYCLE & CARRIAGE LTD,4519.0,C1,Total current assets,1.156410e+10,2023
4,CHINA AVIATION OIL (SINGAPORE) CORP LTD,4671.0,C1,Total current assets,NaN,2023
...,...,...,...,...,...,...
1880940,PRINCIPAL S&P ETHICAL ASIA PACIFIC DIVIDEND ETF,6430.0,NF,Interest coverage,NaN,2004
1880941,GLOBAL INVESTMENTS LIMITED,6619.0,C1,Interest coverage,NaN,2004
1880942,I M QUARRIES LIMITED,8552.0,C1,Interest coverage,NaN,2004
1880943,ABF PAN ASIA BOND INDEX FUND,NaN,NF,Interest coverage,NaN,2004
1880944,YANGI FUND,6420.0,NF,Interest coverage,NaN,2004

In [38]:
# Widening dataframe using unique financial statement variables

pivoted_sgx = melted_sgx.pivot(index= id_vars + ["year"], columns= "variable",values= "value").reset_index().rename_axis(None, axis=1)
pivoted_sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,year,"A.M. Best - Financial Strength Rating, Date","A.M. Best - Long-Term Issuer Credit Rating, Date",Accounts receivable,Accumulated depreciation - No breakdown,Accumulated depreciation on buildings,Accumulated depreciation on land,...,Total other non-current assets,Total other non-current liabilities,Total others current assets,Total shareholders' equity,Trade creditors,Transportation equipment,Treasury shares,Unnamed: 0,Unusual & exceptional income (expenses),Work in progress
0,5E RESOURCES LTD,3900.0,C1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,427.0,NaN,NaN
1,5E RESOURCES LTD,3900.0,C1,2003,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5E RESOURCES LTD,3900.0,C1,2004,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5E RESOURCES LTD,3900.0,C1,2005,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5E RESOURCES LTD,3900.0,C1,2006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13305,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2019,NaN,NaN,NaN,NaN,-3.855653e+06,NaN,...,9.243025e+05,32620.726585,9.413118e+06,1.193132e+07,192229.281664,317178.314745,NaN,NaN,2475.680143,466301.636279
13306,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2020,NaN,NaN,NaN,NaN,-4.074504e+06,NaN,...,1.455978e+06,30842.802167,1.638418e+07,1.206505e+07,329933.094740,345071.534336,NaN,NaN,NaN,472404.203832
13307,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2021,NaN,NaN,1.857901e+03,NaN,-4.785335e+06,NaN,...,1.627986e+06,32822.925687,1.239205e+07,1.260369e+07,230534.605414,395887.834817,NaN,NaN,NaN,409976.920843
13308,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2022,NaN,NaN,1.409855e+07,NaN,-4.931439e+06,NaN,...,2.081466e+06,31666.367292,7.964390e+05,1.923866e+07,252135.981083,381938.213050,NaN,NaN,NaN,432574.526787
13309,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2023,NaN,NaN,1.266256e+07,NaN,-4.837679e+06,NaN,...,1.698828e+06,28373.482496,5.692602e+06,1.856204e+07,316102.632657,352189.294860,NaN,NaN,4407.531261,370094.890609

In [39]:
# Dropping columns without any data

pivoted_sgx = pivoted_sgx.dropna(axis= 1, how= 'all')

### Exporting the pivoted SGX financial statement data into a csv file

In [40]:
pivoted_sgx.to_csv("data/sgx_data.csv", index= False)

## Filter out usable fields

### Read pivoted SGX financial statement data

In [41]:
sgx = pd.read_csv("data/sgx_data.csv")
sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,year,Accounts receivable,Accumulated depreciation - No breakdown,Accumulated depreciation on buildings,Accumulated depreciation on land,Accumulated depreciation on leased assets,"Accumulated depreciation on other property, plant & equipment",...,Total other non-current assets,Total other non-current liabilities,Total others current assets,Total shareholders' equity,Trade creditors,Transportation equipment,Treasury shares,Unnamed: 0,Unusual & exceptional income (expenses),Work in progress
0,5E RESOURCES LTD,3900.0,C1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,427.0,NaN,NaN
1,5E RESOURCES LTD,3900.0,C1,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5E RESOURCES LTD,3900.0,C1,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5E RESOURCES LTD,3900.0,C1,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5E RESOURCES LTD,3900.0,C1,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13305,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2019.0,NaN,NaN,-3.855653e+06,NaN,NaN,-432224.627256,...,9.243025e+05,32620.726585,9.413118e+06,1.193132e+07,192229.281664,317178.314745,NaN,NaN,2475.680143,466301.636279
13306,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2020.0,NaN,NaN,-4.074504e+06,NaN,-335875.285983,-356107.032359,...,1.455978e+06,30842.802167,1.638418e+07,1.206505e+07,329933.094740,345071.534336,NaN,NaN,NaN,472404.203832
13307,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2021.0,1.857901e+03,NaN,-4.785335e+06,NaN,-396507.135302,-451624.878436,...,1.627986e+06,32822.925687,1.239205e+07,1.260369e+07,230534.605414,395887.834817,NaN,NaN,NaN,409976.920843
13308,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2022.0,1.409855e+07,NaN,-4.931439e+06,NaN,-410318.447888,-498297.175884,...,2.081466e+06,31666.367292,7.964390e+05,1.923866e+07,252135.981083,381938.213050,NaN,NaN,NaN,432574.526787
13309,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2023.0,1.266256e+07,NaN,-4.837679e+06,NaN,-404115.522534,-515543.422237,...,1.698828e+06,28373.482496,5.692602e+06,1.856204e+07,316102.632657,352189.294860,NaN,NaN,4407.531261,370094.890609

### Read SG inflation data

In [42]:
cpi = pd.read_csv("data/sg_cpi.csv")
cpi

    Year  Inflation Rate
0   2004        1.662727
1   2005        0.425106
2   2006        0.962902
3   2007        2.104880
4   2008        6.627782
5   2009        0.596720
6   2010        2.823661
7   2011        5.247793
8   2012        4.575603
9   2013        2.358604
10  2014        1.025148
11  2015       -0.522618
12  2016       -0.532269
13  2017        0.576260
14  2018        0.438620
15  2019        0.565261
16  2020       -0.181917
17  2021        2.304860
18  2022        6.121060

In [43]:
# Join the cpi and sgx data

sgx = pd.merge(left= sgx, right= cpi, left_on= 'year', right_on= 'Year', how= 'left').drop(columns= 'Year')
sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,year,Accounts receivable,Accumulated depreciation - No breakdown,Accumulated depreciation on buildings,Accumulated depreciation on land,Accumulated depreciation on leased assets,"Accumulated depreciation on other property, plant & equipment",...,Total other non-current liabilities,Total others current assets,Total shareholders' equity,Trade creditors,Transportation equipment,Treasury shares,Unnamed: 0,Unusual & exceptional income (expenses),Work in progress,Inflation Rate
0,5E RESOURCES LTD,3900.0,C1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,427.0,NaN,NaN,NaN
1,5E RESOURCES LTD,3900.0,C1,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5E RESOURCES LTD,3900.0,C1,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.662727
3,5E RESOURCES LTD,3900.0,C1,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.425106
4,5E RESOURCES LTD,3900.0,C1,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.962902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13305,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2019.0,NaN,NaN,-3.855653e+06,NaN,NaN,-432224.627256,...,32620.726585,9.413118e+06,1.193132e+07,192229.281664,317178.314745,NaN,NaN,2475.680143,466301.636279,0.565261
13306,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2020.0,NaN,NaN,-4.074504e+06,NaN,-335875.285983,-356107.032359,...,30842.802167,1.638418e+07,1.206505e+07,329933.094740,345071.534336,NaN,NaN,NaN,472404.203832,-0.181917
13307,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2021.0,1.857901e+03,NaN,-4.785335e+06,NaN,-396507.135302,-451624.878436,...,32822.925687,1.239205e+07,1.260369e+07,230534.605414,395887.834817,NaN,NaN,NaN,409976.920843,2.304860
13308,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2022.0,1.409855e+07,NaN,-4.931439e+06,NaN,-410318.447888,-498297.175884,...,31666.367292,7.964390e+05,1.923866e+07,252135.981083,381938.213050,NaN,NaN,NaN,432574.526787,6.121060
13309,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2023.0,1.266256e+07,NaN,-4.837679e+06,NaN,-404115.522534,-515543.422237,...,28373.482496,5.692602e+06,1.856204e+07,316102.632657,352189.294860,NaN,NaN,4407.531261,370094.890609,NaN

### Read SG Inter-Bank Interest Rates

In [44]:
sibor = pd.read_csv("data/sg_ir.csv", index_col= None)
sibor

      Year Month  Date SIBOR    SORA
0     2003   Jan     2  0.38       -
1     2003   Jan     3   0.5       -
2     2003   Jan     4  0.63       -
3     2003   Jan     6  0.88       -
4     2003   Jan     7  0.88       -
...    ...   ...   ...   ...     ...
5435  2023   Dec    22     -  3.4044
5436  2023   Dec    26     -  3.4443
5437  2023   Dec    27     -  3.2489
5438  2023   Dec    28     -   3.263
5439  2023   Dec    29     -  3.6235

[5440 rows x 5 columns]

In [45]:
# Use rates depending on the year as after 2014, SIBOR is defunct while SORA did not start till 2005

sibor['Singapore Interbank Rates'] = np.where(sibor['Year'] < 2014, sibor['SIBOR'], sibor['SORA']).astype('float')
sibor

      Year Month  Date SIBOR    SORA  Singapore Interbank Rates
0     2003   Jan     2  0.38       -                     0.3800
1     2003   Jan     3   0.5       -                     0.5000
2     2003   Jan     4  0.63       -                     0.6300
3     2003   Jan     6  0.88       -                     0.8800
4     2003   Jan     7  0.88       -                     0.8800
...    ...   ...   ...   ...     ...                        ...
5435  2023   Dec    22     -  3.4044                     3.4044
5436  2023   Dec    26     -  3.4443                     3.4443
5437  2023   Dec    27     -  3.2489                     3.2489
5438  2023   Dec    28     -   3.263                     3.2630
5439  2023   Dec    29     -  3.6235                     3.6235

[5440 rows x 6 columns]

In [46]:
# Get average annual interbank rates

sibor['Singapore Interbank Rates'] = sibor.groupby('Year')['Singapore Interbank Rates'].transform('mean')
sibor = sibor.drop_duplicates(subset= 'Year')[['Year', 'Singapore Interbank Rates']].reset_index()
sibor

    index  Year  Singapore Interbank Rates
0       0  2003                   0.488046
1     302  2004                   0.682310
2     605  2005                   1.862815
3     907  2006                   2.976679
4    1175  2007                   2.169560
5    1425  2008                   0.557222
6    1677  2009                   0.163492
7    1929  2010                   0.069643
8    2181  2011                   0.022960
9    2431  2012                   0.026215
10   2682  2013                   0.037729
11   2933  2014                   0.079706
12   3185  2015                   0.252503
13   3433  2016                   0.198137
14   3685  2017                   0.561242
15   3935  2018                   1.042236
16   4186  2019                   1.483330
17   4436  2020                   0.301215
18   4688  2021                   0.153780
19   4941  2022                   1.504734
20   5191  2023                   3.617463

In [47]:
# Join the interbank rates to the sgx data

sgx = pd.merge(left= sgx, right= sibor, left_on= 'year', right_on= 'Year', how= 'left').drop(columns= 'Year')
sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,year,Accounts receivable,Accumulated depreciation - No breakdown,Accumulated depreciation on buildings,Accumulated depreciation on land,Accumulated depreciation on leased assets,"Accumulated depreciation on other property, plant & equipment",...,Total shareholders' equity,Trade creditors,Transportation equipment,Treasury shares,Unnamed: 0,Unusual & exceptional income (expenses),Work in progress,Inflation Rate,index,Singapore Interbank Rates
0,5E RESOURCES LTD,3900.0,C1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,427.0,NaN,NaN,NaN,NaN,NaN
1,5E RESOURCES LTD,3900.0,C1,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.488046
2,5E RESOURCES LTD,3900.0,C1,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.662727,302.0,0.682310
3,5E RESOURCES LTD,3900.0,C1,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.425106,605.0,1.862815
4,5E RESOURCES LTD,3900.0,C1,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.962902,907.0,2.976679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13305,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2019.0,NaN,NaN,-3.855653e+06,NaN,NaN,-432224.627256,...,1.193132e+07,192229.281664,317178.314745,NaN,NaN,2475.680143,466301.636279,0.565261,4186.0,1.483330
13306,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2020.0,NaN,NaN,-4.074504e+06,NaN,-335875.285983,-356107.032359,...,1.206505e+07,329933.094740,345071.534336,NaN,NaN,NaN,472404.203832,-0.181917,4436.0,0.301215
13307,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2021.0,1.857901e+03,NaN,-4.785335e+06,NaN,-396507.135302,-451624.878436,...,1.260369e+07,230534.605414,395887.834817,NaN,NaN,NaN,409976.920843,2.304860,4688.0,0.153780
13308,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2022.0,1.409855e+07,NaN,-4.931439e+06,NaN,-410318.447888,-498297.175884,...,1.923866e+07,252135.981083,381938.213050,NaN,NaN,NaN,432574.526787,6.121060,4941.0,1.504734
13309,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2023.0,1.266256e+07,NaN,-4.837679e+06,NaN,-404115.522534,-515543.422237,...,1.856204e+07,316102.632657,352189.294860,NaN,NaN,4407.531261,370094.890609,NaN,5191.0,3.617463

### Identify and rename SGX financial statement data fields of interest

In [48]:
list(sgx.columns)

['Company name Latin alphabet',
 'NACE Rev. 2, core code (4 digits)',
 'Consolidation code',
 'year',
 'Accounts receivable',
 'Accumulated depreciation - No breakdown',
 'Accumulated depreciation on buildings',
 'Accumulated depreciation on land',
 'Accumulated depreciation on leased assets',
 'Accumulated depreciation on other property, plant & equipment',
 'Accumulated depreciation on plant & machinery',
 'Accumulated depreciation on transportation equipment',
 'Additions to Fixed Assets',
 'Adjustments to gross sales',
 'Amortization & depletion',
 'Bank loans',
 'Buildings',
 'Cash & Cash Equivalents at the Beginning of Period',
 'Cash & Cash Equivalents at the End of Period',
 'Cash Dividends Paid - Total',
 'Cash and cash equivalents',
 'Common stock/shares',
 'Cost of goods sold',
 'Current loans & overdrafts',
 'Current portion of long-term debt',
 'Debentures & convertible debt',
 'Decrease/Increase in Inventories',
 'Decrease/Increase in Other Assets/Liabilities',
 'Decrease/Increase in Receivables',
 'Deferred Income Taxes & Investment Tax Credit',
 'Deferred charges',
 'Deferred revenue',
 'Deferred taxes',
 'Depreciation',
 'Depreciation, Depletion & Amortization',
 'Dividend Share Capital Other',
 'Dividends payable',
 'Doubtful accounts & allowances',
 'EBITDA',
 'Earnings before interest & tax (EBIT)',
 'Effect of Exchange Rate on Cash',
 'Enterprise value',
 'Exploration',
 'Extraordinary items after tax',
 'Financial expenses',
 'Financial profit (loss)',
 'Financial revenue',
 'Finished goods',
 'Fund from Other Operating Activities',
 'Funds from Operations before Working Capital changes & Extraordinary Items',
 'Goodwill',
 'Gross Sales',
 'Income tax expense',
 'Income tax payable',
 'Increase/Decrease in Accounts Payable',
 'Increase/Decrease in Cash & Short Term Investments',
 'Increase/Decrease in Investments',
 'Increase/Decrease in Long Term Borrowings',
 'Increase/Decrease in Other Accruals',
 'Increase/Decrease in Other Long Term Assets',
 'Increase/Decrease in Short Term Borrowings',
 'Intangible assets',
 'Interest Expense',
 'Interest coverage',
 'Inventory prepayment and other adjustments',
 'Investment in associated companies',
 'Investment in real estate',
 'Investments',
 'Land',
 'Lease liabilities',
 'Leased assets',
 'Loans & Borrowings',
 'Long-term receivables',
 'Market capitalisation / Total assets (Tobin’s Q)',
 'Market capitalisation m',
 'Minority interest',
 'Net Cash from Financing Activities',
 'Net Cash from Investing Activities',
 'Net Cash from Operating Activities',
 'Net Income/Starting Line',
 'Net Proceeds from Sale/Issue Common & Preferred Stock',
 'Net Sales',
 'Net accounts receivable',
 'Net assets',
 'Net buildings',
 'Net debt',
 'Net inventory',
 'Net land',
 'Net leased assets',
 'Net other property, plant & equipment',
 'Net plant & machinery',
 'Net profit',
 'Net property, plant & equipment',
 'Net transportation equipment',
 'Non-current assets',
 'Non-current liabilities',
 'Number of employees',
 'Operating income after depreciation, amortization & depletion',
 'Ordinary Dividends',
 'Other Cash Flow Items',
 'Other Revenues',
 'Other Source/Use - Financing Activities',
 'Other after-tax adjustments',
 'Other creditors',
 'Other current assets',
 'Other current liabilities',
 'Other intangible assets',
 'Other long-term interest-bearing debt',
 'Other long-term non-interest-bearing liabilities',
 'Other non-current assets',
 'Other non-operating and financial income (expenses)',
 'Other operating income (expense)',
 'Other property, plant & equipment',
 "Other shareholders' funds",
 "Other shareholders' reserves",
 'Other short-term debt',
 'Participation shares',
 'Pension fund provisions',
 'Plant & machinery',
 'Preferred Dividends',
 'Preferred shares',
 'Prepaid expenses & advances',
 'Price / earnings ratio - close',
 'Profit (loss) after tax (PAT)',
 'Profit (loss) before tax (PBT)',
 'Provisions',
 'Raw materials',
 'Redeemable preferred shares',
 'Research & development expenses',
 'Retained earnings',
 'Revaluation reserves',
 'Share capital',
 'Share premiums',
 'Short-term investments',
 'Social expenditure payable',
 'Total Revenues',
 'Total assets',
 'Total cash & short-term investments',
 'Total current assets',
 'Total current liabilities',
 'Total depreciation, amortization & depletion',
 'Total liabilities',
 'Total liabilities and equity',
 'Total long-term interest-bearing debt',
 'Total other current liabilities',
 'Total other non-current assets',
 'Total other non-current liabilities',
 'Total others current assets',
 "Total shareholders' equity",
 'Trade creditors',
 'Transportation equipment',
 'Treasury shares',
 'Unnamed: 0',
 'Unusual & exceptional income (expenses)',
 'Work in progress',
 'Inflation Rate',
 'index',
 'Singapore Interbank Rates']

In [49]:
# Select the fields of possible interest in the model

selected_fields = ['Company name Latin alphabet', 
                 'NACE Rev. 2, core code (4 digits)', 
                 'year',
                 'Total assets', 
                 'Total current assets', 
                 'Net property, plant & equipment', 
                 'Total liabilities', 
                 'Total current liabilities', 
                 'Net debt', 
                 'Income tax expense', 
                 'Interest Expense', 
                 'Total shareholders\' equity', 
                 'Net profit', 
                 'Net Sales', 
                 'EBITDA', 
                 'Earnings before interest & tax (EBIT)', 
                 'Total depreciation, amortization & depletion',
                 'Net Cash from Operating Activities',
                 'Additions to Fixed Assets', 
                 'Market capitalisation m', 
                 'Price / earnings ratio - close', 
                 'Interest coverage', 
                 'Number of employees', 
                 'Singapore Interbank Rates', 
                 'Inflation Rate']

filtered_sgx = sgx[selected_fields]

In [50]:
# Count the number of usable records in the selected fields

filtered_sgx.apply(axis= 0, func= lambda x: x.count())

Company name Latin alphabet                     13310
NACE Rev. 2, core code (4 digits)               13222
year                                            12705
Total assets                                     8810
Total current assets                             8806
Net property, plant & equipment                  8509
Total liabilities                                8810
Total current liabilities                        8811
Net debt                                         8803
Income tax expense                               8339
Interest Expense                                  138
Total shareholders' equity                       8811
Net profit                                       8830
Net Sales                                        8659
EBITDA                                           8806
Earnings before interest & tax (EBIT)            8827
Total depreciation, amortization & depletion     8455
Net Cash from Operating Activities               8780
Additions to Fixed Assets                        8329
Market capitalisation m                          6344
Price / earnings ratio - close                   4274
Interest coverage                                7883
Number of employees                              2169
Singapore Interbank Rates                       12705
Inflation Rate                                  11495
dtype: int64

In [51]:
# Create the column rename mapping dictionary 

colname_mapping = {
    'Company name Latin alphabet' : 'Company',
    'NACE Rev. 2, core code (4 digits)' : 'NACE',
    'year' : 'Year',
    'Total assets': 'TA', 
    'Total current assets': 'CA',
    'Net property, plant & equipment': 'FA',
    'Total liabilities': 'TL',
    'Total current liabilities': 'CL', 
    'Net debt': 'DEBT',
    'Income tax expense': 'TAXEX',
    'Interest Expense': 'INTEX', 
    'Total shareholders\' equity': 'TE',
    'Net profit': 'PROFIT',
    'Net Sales': 'SALES',
    'EBITDA': 'EBITDA',
    'Earnings before interest & tax (EBIT)': 'EBIT',
    'Total depreciation, amortization & depletion': 'DA', 
    'Net Cash from Operating Activities': 'CFO',
    'Additions to Fixed Assets': 'CAPEX',
    'Market capitalisation m': 'MCAP',
    'Price / earnings ratio - close': 'PER',
    'Interest coverage': 'SOLV', 
    'Number of employees': 'NEMP',
    'Singapore Interbank Rates': 'SORA',
    'Inflation Rate': 'CPI'
}

# Rename the fields

filtered_sgx = filtered_sgx.rename(columns = colname_mapping)
filtered_sgx

,Company,NACE,Year,TA,CA,FA,TL,CL,DEBT,TAXEX,...,EBIT,DA,CFO,CAPEX,MCAP,PER,SOLV,NEMP,SORA,CPI
0,5E RESOURCES LTD,3900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5E RESOURCES LTD,3900.0,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.488046,NaN
2,5E RESOURCES LTD,3900.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.682310,1.662727
3,5E RESOURCES LTD,3900.0,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.862815,0.425106
4,5E RESOURCES LTD,3900.0,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.976679,0.962902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13305,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2019.0,2.148686e+07,1.072858e+07,8.805120e+06,9.555543e+06,9.522922e+06,8.481098e+06,-1456.282437,...,1.374731e+06,-474311.189681,-5.213491e+04,-288780.807227,2.339400,3.863,3.602,NaN,1.483330,0.565261
13306,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2020.0,2.951359e+07,1.930491e+07,8.752706e+06,1.744854e+07,1.741769e+07,1.548026e+07,-140914.820910,...,3.391293e+05,-178407.218039,-6.971605e+06,-171191.700101,4.545474,9.599,0.508,NaN,0.301215,-0.181917
13307,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2021.0,3.016613e+07,1.991949e+07,8.618650e+06,1.756243e+07,1.752961e+07,1.599080e+07,-46912.011713,...,-4.907956e+04,-193841.051698,1.877564e+06,-496524.163574,31.403131,NaN,-0.056,NaN,0.153780,2.304860
13308,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2022.0,2.894396e+07,1.909572e+07,7.766774e+06,9.705293e+06,9.673627e+06,8.158571e+06,-69606.260180,...,6.704009e+06,-186114.592671,8.035789e+06,-189848.834097,20.475212,2.891,11.496,NaN,1.504734,6.121060
13309,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2023.0,3.207622e+07,2.373979e+07,6.637604e+06,1.351418e+07,1.348581e+07,1.010991e+07,-113356.194630,...,1.019517e+06,-173271.072716,-2.026500e+06,-123548.610672,25.691638,31.260,2.283,NaN,3.617463,NaN

In [52]:
# Dropping groups which do not contain any information

fields_to_check = ["TA", "CA", "FA", 
                   "TL", "CL", "DEBT", "TAXEX", "INTEX", 
                   "TE", "PROFIT", "SALES", "EBITDA", "EBIT", 
                   "DA", "CFO", "CAPEX", "MCAP", "PER", "SOLV", 
                   "NEMP"]

filtered_sgx = filtered_sgx.groupby(by= "Company")
filtered_sgx = filtered_sgx.apply(lambda x: x if not x[fields_to_check].isna().all().all() else None)
filtered_sgx = filtered_sgx.reset_index(drop= True)

filtered_sgx

,Company,NACE,Year,TA,CA,FA,TL,CL,DEBT,TAXEX,...,EBIT,DA,CFO,CAPEX,MCAP,PER,SOLV,NEMP,SORA,CPI
0,5E RESOURCES LTD,3900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5E RESOURCES LTD,3900.0,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.488046,NaN
2,5E RESOURCES LTD,3900.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.682310,1.662727
3,5E RESOURCES LTD,3900.0,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.862815,0.425106
4,5E RESOURCES LTD,3900.0,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.976679,0.962902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12689,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2019.0,2.148686e+07,1.072858e+07,8.805120e+06,9.555543e+06,9.522922e+06,8.481098e+06,-1456.282437,...,1.374731e+06,-474311.189681,-5.213491e+04,-288780.807227,2.339400,3.863,3.602,NaN,1.483330,0.565261
12690,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2020.0,2.951359e+07,1.930491e+07,8.752706e+06,1.744854e+07,1.741769e+07,1.548026e+07,-140914.820910,...,3.391293e+05,-178407.218039,-6.971605e+06,-171191.700101,4.545474,9.599,0.508,NaN,0.301215,-0.181917
12691,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2021.0,3.016613e+07,1.991949e+07,8.618650e+06,1.756243e+07,1.752961e+07,1.599080e+07,-46912.011713,...,-4.907956e+04,-193841.051698,1.877564e+06,-496524.163574,31.403131,NaN,-0.056,NaN,0.153780,2.304860
12692,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2022.0,2.894396e+07,1.909572e+07,7.766774e+06,9.705293e+06,9.673627e+06,8.158571e+06,-69606.260180,...,6.704009e+06,-186114.592671,8.035789e+06,-189848.834097,20.475212,2.891,11.496,NaN,1.504734,6.121060
12693,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2023.0,3.207622e+07,2.373979e+07,6.637604e+06,1.351418e+07,1.348581e+07,1.010991e+07,-113356.194630,...,1.019517e+06,-173271.072716,-2.026500e+06,-123548.610672,25.691638,31.260,2.283,NaN,3.617463,NaN

In [53]:
# Check the number of groups left

filtered_sgx.groupby(by= "Company").ngroups

577

In [54]:
# Count the number of un-usable records in the selected fields

filtered_sgx.apply(axis= 0, func= lambda x: x.isna().sum())

Company        0
NACE          66
Year         577
TA          3884
CA          3888
FA          4185
TL          3884
CL          3883
DEBT        3891
TAXEX       4355
INTEX      12556
TE          3883
PROFIT      3864
SALES       4035
EBITDA      3888
EBIT        3867
DA          4239
CFO         3914
CAPEX       4365
MCAP        6350
PER         8420
SOLV        4811
NEMP       10525
SORA         577
CPI         1731
dtype: int64

In [55]:
filtered_sgx.to_csv("data/filtered_sgx.csv", index= False)

## Derive further financial indicators

In [81]:
sgx = pd.read_csv("data/filtered_sgx.csv", index_col= None)
sgx

,Company,NACE,Year,TA,CA,FA,TL,CL,DEBT,TAXEX,...,EBIT,DA,CFO,CAPEX,MCAP,PER,SOLV,NEMP,SORA,CPI
0,5E RESOURCES LTD,3900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5E RESOURCES LTD,3900.0,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.488046,NaN
2,5E RESOURCES LTD,3900.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.682310,1.662727
3,5E RESOURCES LTD,3900.0,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.862815,0.425106
4,5E RESOURCES LTD,3900.0,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.976679,0.962902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12689,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2019.0,2.148686e+07,1.072858e+07,8.805120e+06,9.555543e+06,9.522922e+06,8.481098e+06,-1456.282437,...,1.374731e+06,-474311.189681,-5.213491e+04,-288780.807227,2.339400,3.863,3.602,NaN,1.483330,0.565261
12690,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2020.0,2.951359e+07,1.930491e+07,8.752706e+06,1.744854e+07,1.741769e+07,1.548026e+07,-140914.820910,...,3.391293e+05,-178407.218039,-6.971605e+06,-171191.700101,4.545474,9.599,0.508,NaN,0.301215,-0.181917
12691,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2021.0,3.016613e+07,1.991949e+07,8.618650e+06,1.756243e+07,1.752961e+07,1.599080e+07,-46912.011713,...,-4.907956e+04,-193841.051698,1.877564e+06,-496524.163574,31.403131,NaN,-0.056,NaN,0.153780,2.304860
12692,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2022.0,2.894396e+07,1.909572e+07,7.766774e+06,9.705293e+06,9.673627e+06,8.158571e+06,-69606.260180,...,6.704009e+06,-186114.592671,8.035789e+06,-189848.834097,20.475212,2.891,11.496,NaN,1.504734,6.121060
12693,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,2023.0,3.207622e+07,2.373979e+07,6.637604e+06,1.351418e+07,1.348581e+07,1.010991e+07,-113356.194630,...,1.019517e+06,-173271.072716,-2.026500e+06,-123548.610672,25.691638,31.260,2.283,NaN,3.617463,NaN

### Conduct calculations

In [82]:
# Encode Companies with a unique numeric identifier

sgx['Company Code'] = sgx['Company'].factorize()[0]
sgx['Company Code']

0          0
1          0
2          0
3          0
4          0
        ...
12689    576
12690    576
12691    576
12692    576
12693    576
Name: Company Code, Length: 12694, dtype: int64

In [95]:
# Extract first 2 digits of the NACE field

sgx["NACE"] = sgx["NACE"].astype(str).str[:-2].str.zfill(4).str[:2]
sgx["NACE"]

0        39
1        39
2        39
3        39
4        39
         ..
12689    10
12690    10
12691    10
12692    10
12693    10
Name: NACE, Length: 12694, dtype: object

In [96]:
# Reverse sign of depreciation, amortisation and depletion

sgx["DA"] = np.absolute(sgx["DA"])
sgx["DA"]

0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
             ...
12689    474311.189681
12690    178407.218039
12691    193841.051698
12692    186114.592671
12693    173271.072716
Name: DA, Length: 12694, dtype: float64

In [97]:
# Re-scale Market Capitalisation to units

sgx["MCAP"] = sgx["MCAP"] * 1000000
sgx["MCAP"]

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
             ...
12689    2.339400e+06
12690    4.545474e+06
12691    3.140313e+07
12692    2.047521e+07
12693    2.569164e+07
Name: MCAP, Length: 12694, dtype: float64

In [98]:
# Measure of Firm Size

sgx["SIZE"] = np.log(sgx["TA"])
sgx["SIZE"]

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
12689    16.882952
12690    17.200361
12691    17.222230
12692    17.180872
12693    17.283626
Name: SIZE, Length: 12694, dtype: float64

In [99]:
# Measure of Profitability

sgx["PROFITABILITY"] = sgx["EBITDA"] / sgx["TA"]
sgx["PROFITABILITY"]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12689    0.085939
12690    0.017536
12691    0.004799
12692    0.238051
12693    0.037049
Name: PROFITABILITY, Length: 12694, dtype: float64

In [100]:
# Tangibility

sgx["TANG"] = sgx["FA"] / sgx["TA"]
sgx["TANG"]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12689    0.409791
12690    0.296565
12691    0.285706
12692    0.268338
12693    0.206932
Name: TANG, Length: 12694, dtype: float64

In [101]:
# Measure of Business Risk

sgx["RISK"] = sgx.groupby(by= "Company")["EBIT"].pct_change() / sgx.groupby(by= "Company")["SALES"].pct_change()
sgx["RISK"]

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
12689      -0.440180
12690      -1.083019
12691       6.374377
12692   -2992.503933
12693       3.319191
Name: RISK, Length: 12694, dtype: float64

In [102]:
# Ability to pay debts (Current Ratio)

sgx["LIQUID"] = sgx["CA"] / sgx["CL"]
sgx["LIQUID"]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12689    1.126606
12690    1.108350
12691    1.136334
12692    1.973997
12693    1.760354
Name: LIQUID, Length: 12694, dtype: float64

In [103]:
# Debt Tax Shield

sgx["NDTSHIELD"] = sgx["DA"] / sgx["TA"]
sgx["NDTSHIELD"]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12689    0.022074
12690    0.006045
12691    0.006426
12692    0.006430
12693    0.005402
Name: NDTSHIELD, Length: 12694, dtype: float64

In [104]:
# Interest Expense

sgx["INTEX"] = sgx["EBIT"] - (sgx["PROFIT"] + sgx["TAXEX"])
sgx["INTEX"]

0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
             ...
12689    770664.665580
12690      6508.114219
12691    597160.492331
12692   -308448.341787
12693    311006.424636
Name: INTEX, Length: 12694, dtype: float64

In [105]:
# Effective Tax Rate

sgx["TAXRATE"] = sgx["TAXEX"] / (sgx["EBIT"] - sgx["INTEX"])
sgx["TAXRATE"]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12689   -0.002411
12690   -0.423650
12691    0.072592
12692   -0.009926
12693   -0.159992
Name: TAXRATE, Length: 12694, dtype: float64

In [106]:
# Free  Cash Flow to Firm

sgx["FCFF"] = sgx["CFO"] + (sgx["INTEX"] * (1 - sgx["TAXRATE"])) - sgx["CAPEX"]
sgx["FCFF"]

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
             ...
12689    1.009168e+06
12690   -6.791148e+06
12691    2.927900e+06
12692    7.914128e+06
12693   -1.542187e+06
Name: FCFF, Length: 12694, dtype: float64

In [107]:
# Growth Potential

sgx["GROWPOT"] = sgx["MCAP"] / sgx["TE"]
sgx["GROWPOT"]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12689    0.196072
12690    0.376747
12691    2.491582
12692    1.064274
12693    1.384095
Name: GROWPOT, Length: 12694, dtype: float64

In [108]:
# Dependent Variable

sgx["LEVERAGE"] = sgx["DEBT"] / sgx["TA"]
sgx["LEVERAGE"]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12689    0.394711
12690    0.524513
12691    0.530091
12692    0.281875
12693    0.315184
Name: LEVERAGE, Length: 12694, dtype: float64

In [109]:
# Count the number of usable records in the selected fields

sgx.apply(axis= 0, func= lambda x: x.count())

Company          12694
NACE             12694
Year             12117
TA                8810
CA                8806
FA                8509
TL                8810
CL                8811
DEBT              8803
TAXEX             8339
INTEX             8337
TE                8811
PROFIT            8830
SALES             8659
EBITDA            8806
EBIT              8827
DA                8455
CFO               8780
CAPEX             8329
MCAP              6344
PER               4274
SOLV              7883
NEMP              2169
SORA             12117
CPI              10963
Company Code     12694
SIZE              8810
PROFITABILITY     8779
TANG              8509
RISK              8208
LIQUID            8806
NDTSHIELD         8445
TAXRATE           8337
FCFF              7957
GROWPOT           6164
LEVERAGE          8803
dtype: int64

In [110]:
sgx.to_csv("data/computed_sgx.csv", index= False)

### Filter for specific time period

In [111]:
sgx = pd.read_csv("data/computed_sgx.csv", index_col= None)
sgx

,Company,NACE,Year,TA,CA,FA,TL,CL,DEBT,TAXEX,...,SIZE,PROFITABILITY,TANG,RISK,LIQUID,NDTSHIELD,TAXRATE,FCFF,GROWPOT,LEVERAGE
0,5E RESOURCES LTD,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5E RESOURCES LTD,39,2003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5E RESOURCES LTD,39,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5E RESOURCES LTD,39,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5E RESOURCES LTD,39,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12689,ZHONGXIN FRUIT AND JUICE LIMITED,10,2019.0,2.148686e+07,1.072858e+07,8.805120e+06,9.555543e+06,9.522922e+06,8.481098e+06,-1456.282437,...,16.882952,0.085939,0.409791,-0.440180,1.126606,0.022074,-0.002411,1.009168e+06,0.196072,0.394711
12690,ZHONGXIN FRUIT AND JUICE LIMITED,10,2020.0,2.951359e+07,1.930491e+07,8.752706e+06,1.744854e+07,1.741769e+07,1.548026e+07,-140914.820910,...,17.200361,0.017536,0.296565,-1.083019,1.108350,0.006045,-0.423650,-6.791148e+06,0.376747,0.524513
12691,ZHONGXIN FRUIT AND JUICE LIMITED,10,2021.0,3.016613e+07,1.991949e+07,8.618650e+06,1.756243e+07,1.752961e+07,1.599080e+07,-46912.011713,...,17.222230,0.004799,0.285706,6.374377,1.136334,0.006426,0.072592,2.927900e+06,2.491582,0.530091
12692,ZHONGXIN FRUIT AND JUICE LIMITED,10,2022.0,2.894396e+07,1.909572e+07,7.766774e+06,9.705293e+06,9.673627e+06,8.158571e+06,-69606.260180,...,17.180872,0.238051,0.268338,-2992.503933,1.973997,0.006430,-0.009926,7.914128e+06,1.064274,0.281875
12693,ZHONGXIN FRUIT AND JUICE LIMITED,10,2023.0,3.207622e+07,2.373979e+07,6.637604e+06,1.351418e+07,1.348581e+07,1.010991e+07,-113356.194630,...,17.283626,0.037049,0.206932,3.319191,1.760354,0.005402,-0.159992,-1.542187e+06,1.384095,0.315184

In [112]:
## Years to select

years_to_select = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

year_filtered_sgx = sgx[sgx['Year'].isin(years_to_select)]
year_filtered_sgx

,Company,NACE,Year,TA,CA,FA,TL,CL,DEBT,TAXEX,...,SIZE,PROFITABILITY,TANG,RISK,LIQUID,NDTSHIELD,TAXRATE,FCFF,GROWPOT,LEVERAGE
13,5E RESOURCES LTD,39,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,5E RESOURCES LTD,39,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,5E RESOURCES LTD,39,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,5E RESOURCES LTD,39,2018.0,1.225468e+07,4.352060e+06,7.771898e+06,5.139543e+06,1.509001e+06,2.033345e+06,-519270.273358,...,16.321419,0.257217,0.634198,NaN,2.884067,0.056392,-0.437055,4.818616e+06,NaN,0.165924
17,5E RESOURCES LTD,39,2019.0,1.376567e+07,4.927062e+06,8.838607e+06,3.616616e+06,3.128650e+06,-1.619059e+06,-947587.051034,...,16.437688,0.331085,0.642076,3.177498,1.574820,0.052773,-0.472293,9.187696e+06,NaN,-0.117616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12688,ZHONGXIN FRUIT AND JUICE LIMITED,10,2018.0,2.228324e+07,9.669122e+06,1.000589e+07,1.054371e+07,1.050900e+07,8.262287e+06,-11622.992784,...,16.919345,0.064421,0.449032,4.500669,0.920080,0.007946,-0.014581,1.726034e+06,0.592790,0.370785
12689,ZHONGXIN FRUIT AND JUICE LIMITED,10,2019.0,2.148686e+07,1.072858e+07,8.805120e+06,9.555543e+06,9.522922e+06,8.481098e+06,-1456.282437,...,16.882952,0.085939,0.409791,-0.440180,1.126606,0.022074,-0.002411,1.009168e+06,0.196072,0.394711
12690,ZHONGXIN FRUIT AND JUICE LIMITED,10,2020.0,2.951359e+07,1.930491e+07,8.752706e+06,1.744854e+07,1.741769e+07,1.548026e+07,-140914.820910,...,17.200361,0.017536,0.296565,-1.083019,1.108350,0.006045,-0.423650,-6.791148e+06,0.376747,0.524513
12691,ZHONGXIN FRUIT AND JUICE LIMITED,10,2021.0,3.016613e+07,1.991949e+07,8.618650e+06,1.756243e+07,1.752961e+07,1.599080e+07,-46912.011713,...,17.222230,0.004799,0.285706,6.374377,1.136334,0.006426,0.072592,2.927900e+06,2.491582,0.530091
12692,ZHONGXIN FRUIT AND JUICE LIMITED,10,2022.0,2.894396e+07,1.909572e+07,7.766774e+06,9.705293e+06,9.673627e+06,8.158571e+06,-69606.260180,...,17.180872,0.238051,0.268338,-2992.503933,1.973997,0.006430,-0.009926,7.914128e+06,1.064274,0.281875

In [113]:
# Count the percentage of un-usable records in the selected fields

year_filtered_sgx.apply(axis= 0, func= lambda x: (x.isna().sum() / x.count()) * 100)

Company            0.000000
NACE               0.000000
Year               0.000000
TA                 9.228585
CA                 9.254438
FA                14.854441
TL                 9.228585
CL                 9.228585
DEBT               9.332070
TAXEX             16.890352
INTEX             16.890352
TE                 9.228585
PROFIT             9.073724
SALES             11.930165
EBITDA             9.176916
EBIT               9.073724
DA                15.660236
CFO                9.539630
CAPEX             17.845290
MCAP              21.377860
PER               91.376451
SOLV              23.886205
NEMP             288.552189
SORA               0.000000
CPI                0.000000
Company Code       0.000000
SIZE               9.228585
PROFITABILITY      9.409813
TANG              14.854441
RISK              11.875909
LIQUID             9.254438
NDTSHIELD         15.718225
TAXRATE           16.890352
FCFF              24.521176
GROWPOT           22.896699
LEVERAGE           9.332070
dtype: float64

In [114]:
# PER and NEMP are almost unusable

year_filtered_sgx = year_filtered_sgx.drop(columns= ["PER", "NEMP"])
year_filtered_sgx

,Company,NACE,Year,TA,CA,FA,TL,CL,DEBT,TAXEX,...,SIZE,PROFITABILITY,TANG,RISK,LIQUID,NDTSHIELD,TAXRATE,FCFF,GROWPOT,LEVERAGE
13,5E RESOURCES LTD,39,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,5E RESOURCES LTD,39,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,5E RESOURCES LTD,39,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,5E RESOURCES LTD,39,2018.0,1.225468e+07,4.352060e+06,7.771898e+06,5.139543e+06,1.509001e+06,2.033345e+06,-519270.273358,...,16.321419,0.257217,0.634198,NaN,2.884067,0.056392,-0.437055,4.818616e+06,NaN,0.165924
17,5E RESOURCES LTD,39,2019.0,1.376567e+07,4.927062e+06,8.838607e+06,3.616616e+06,3.128650e+06,-1.619059e+06,-947587.051034,...,16.437688,0.331085,0.642076,3.177498,1.574820,0.052773,-0.472293,9.187696e+06,NaN,-0.117616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12688,ZHONGXIN FRUIT AND JUICE LIMITED,10,2018.0,2.228324e+07,9.669122e+06,1.000589e+07,1.054371e+07,1.050900e+07,8.262287e+06,-11622.992784,...,16.919345,0.064421,0.449032,4.500669,0.920080,0.007946,-0.014581,1.726034e+06,0.592790,0.370785
12689,ZHONGXIN FRUIT AND JUICE LIMITED,10,2019.0,2.148686e+07,1.072858e+07,8.805120e+06,9.555543e+06,9.522922e+06,8.481098e+06,-1456.282437,...,16.882952,0.085939,0.409791,-0.440180,1.126606,0.022074,-0.002411,1.009168e+06,0.196072,0.394711
12690,ZHONGXIN FRUIT AND JUICE LIMITED,10,2020.0,2.951359e+07,1.930491e+07,8.752706e+06,1.744854e+07,1.741769e+07,1.548026e+07,-140914.820910,...,17.200361,0.017536,0.296565,-1.083019,1.108350,0.006045,-0.423650,-6.791148e+06,0.376747,0.524513
12691,ZHONGXIN FRUIT AND JUICE LIMITED,10,2021.0,3.016613e+07,1.991949e+07,8.618650e+06,1.756243e+07,1.752961e+07,1.599080e+07,-46912.011713,...,17.222230,0.004799,0.285706,6.374377,1.136334,0.006426,0.072592,2.927900e+06,2.491582,0.530091
12692,ZHONGXIN FRUIT AND JUICE LIMITED,10,2022.0,2.894396e+07,1.909572e+07,7.766774e+06,9.705293e+06,9.673627e+06,8.158571e+06,-69606.260180,...,17.180872,0.238051,0.268338,-2992.503933,1.973997,0.006430,-0.009926,7.914128e+06,1.064274,0.281875

In [115]:
# Drop Companies with any NaN in data

year_filtered_sgx = year_filtered_sgx.groupby("Company")
year_filtered_sgx = year_filtered_sgx.apply(lambda x: x if not x.isna().any().any() else None)
year_filtered_sgx = year_filtered_sgx.reset_index(drop= True)

year_filtered_sgx

,Company,NACE,Year,TA,CA,FA,TL,CL,DEBT,TAXEX,...,SIZE,PROFITABILITY,TANG,RISK,LIQUID,NDTSHIELD,TAXRATE,FCFF,GROWPOT,LEVERAGE
0,A SONIC AEROSPACE LIMITED,26,2015.0,6.107200e+07,4.941900e+07,1.079300e+07,3.331800e+07,3.160000e+07,-1.437900e+07,2.910000e+05,...,17.927564,-0.094659,0.176726,-82.603240,1.563892,0.041296,-0.029991,4.729897e+06,1.342854,-0.235443
1,A SONIC AEROSPACE LIMITED,26,2016.0,6.467500e+07,5.772600e+07,6.258000e+06,3.964200e+07,3.835100e+07,-1.338600e+07,-2.650000e+05,...,17.984885,-0.010839,0.096761,12.036318,1.505202,0.012911,0.097070,6.670989e+05,0.279433,-0.206973
2,A SONIC AEROSPACE LIMITED,26,2017.0,7.524600e+07,6.803700e+07,6.118000e+06,5.161200e+07,5.066000e+07,-1.792500e+07,-2.160000e+05,...,18.136273,-0.013888,0.081307,1.605162,1.343012,0.010791,0.150313,4.998374e+06,0.335075,-0.238219
3,A SONIC AEROSPACE LIMITED,26,2018.0,7.359400e+07,6.584300e+07,5.849000e+06,4.928100e+07,4.870300e+07,-1.906200e+07,-1.820000e+05,...,18.114074,0.013371,0.079477,-20.179642,1.351929,0.010245,-0.140108,8.313457e+05,0.378908,-0.259016
4,A SONIC AEROSPACE LIMITED,26,2019.0,6.428400e+07,5.679200e+07,7.293000e+06,3.731000e+07,3.643600e+07,-1.432700e+07,-3.740000e+05,...,17.978821,0.078838,0.113450,-193.544766,1.558678,0.029790,-0.173228,3.991890e+05,0.716118,-0.222870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,YONGNAM HOLDINGS LIMITED,71,2018.0,3.503341e+08,1.196307e+08,2.306594e+08,1.703341e+08,1.032232e+08,9.217834e+07,8.678195e+06,...,19.674398,-0.059740,0.658398,-3.777753,1.158952,0.062545,-0.302336,-1.035043e+07,0.402061,0.263116
1724,YONGNAM HOLDINGS LIMITED,71,2019.0,3.429246e+08,1.037248e+08,2.351062e+08,2.013324e+08,1.504135e+08,1.227331e+08,3.608225e+06,...,19.653021,-0.033475,0.685591,-0.690731,0.689598,0.071469,-0.099419,4.195210e+07,0.410953,0.357901
1725,YONGNAM HOLDINGS LIMITED,71,2020.0,2.913047e+08,6.392860e+07,2.236608e+08,2.061644e+08,1.618667e+08,1.292187e+08,-4.172907e+06,...,19.489881,-0.064894,0.767790,-0.541603,0.394946,0.093303,0.066056,5.687663e+07,0.380703,0.443586
1726,YONGNAM HOLDINGS LIMITED,71,2021.0,2.595798e+08,6.673153e+07,1.896449e+08,1.906858e+08,1.146763e+08,1.165392e+08,4.512836e+04,...,19.374575,0.027514,0.730584,-2.513608,0.581912,0.078202,-0.002244,2.717399e+07,0.317394,0.448953
1727,YONGNAM HOLDINGS LIMITED,71,2022.0,2.308791e+08,6.542243e+07,1.623702e+08,1.868504e+08,1.612576e+08,1.057712e+08,-9.296445e+04,...,19.257405,0.009406,0.703270,2.244895,0.405701,0.082164,0.002840,3.845589e+07,0.309159,0.458124

In [116]:
# Count the number of usable companies remaining in the data

year_filtered_sgx.groupby(by= "Company").size()

Company
A SONIC AEROSPACE LIMITED                    8
ACMA LIMITED                                 8
ADDVALUE TECHNOLOGIES LTD                    8
ADVANCED SYSTEMS AUTOMATION LTD              8
AF GLOBAL LIMITED                            8
                                            ..
YANLORD LAND GROUP LIMITED                   8
YHI INTERNATIONAL LIMITED                    8
YING LI INTERNATIONAL REAL ESTATE LIMITED    8
YONGMAO HOLDINGS LIMITED                     8
YONGNAM HOLDINGS LIMITED                     8
Length: 216, dtype: int64

### Segment data for COVID-impacted years

In [117]:
# Filter for COVID impacted years

covid_years = [2020, 2021, 2022]

covid_sgx = year_filtered_sgx[year_filtered_sgx['Year'].isin(covid_years)]
covid_sgx

,Company,NACE,Year,TA,CA,FA,TL,CL,DEBT,TAXEX,...,SIZE,PROFITABILITY,TANG,RISK,LIQUID,NDTSHIELD,TAXRATE,FCFF,GROWPOT,LEVERAGE
5,A SONIC AEROSPACE LIMITED,26,2020.0,7.897600e+07,7.265200e+07,6.104000e+06,4.428600e+07,4.393800e+07,-2.790800e+07,-2.820000e+05,...,18.184655,0.126747,0.077289,5.664351,1.653512,0.022792,-0.046650,1.164700e+07,0.420773,-0.353373
6,A SONIC AEROSPACE LIMITED,26,2021.0,1.069980e+08,1.002060e+08,6.489000e+06,6.376400e+07,6.330200e+07,-3.795500e+07,-1.550000e+06,...,18.488321,0.118694,0.060646,0.463645,1.582983,0.015346,-0.305901,2.130865e+07,0.630430,-0.354726
7,A SONIC AEROSPACE LIMITED,26,2022.0,9.621900e+07,8.911300e+07,6.150000e+06,5.022600e+07,4.882200e+07,-4.558800e+07,-7.910000e+05,...,18.382137,0.079766,0.063917,2.740224,1.825263,0.020245,-0.193540,1.453141e+07,0.941716,-0.473794
13,ACMA LIMITED,46,2020.0,4.271160e+07,3.046971e+07,1.211709e+07,3.411013e+07,2.856289e+07,1.281673e+07,-3.645715e+05,...,17.569981,0.006588,0.283695,2.053758,1.066758,0.075245,0.083710,4.166626e+06,0.272119,0.300076
14,ACMA LIMITED,46,2021.0,3.307687e+07,2.543168e+07,7.594141e+06,2.852038e+07,2.428276e+07,7.668862e+06,-1.657173e+05,...,17.314345,-0.032096,0.229591,-9.226522,1.047314,0.088213,0.066806,3.349867e+06,0.275311,0.231850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1718,YONGMAO HOLDINGS LIMITED,28,2021.0,2.928690e+08,1.916742e+08,8.304555e+07,1.525279e+08,1.416881e+08,1.768001e+07,-1.987009e+06,...,19.495236,0.058167,0.283559,0.032819,1.352790,0.006487,-0.295194,2.674207e+07,0.289701,0.060368
1719,YONGMAO HOLDINGS LIMITED,28,2022.0,2.961636e+08,1.916892e+08,8.361025e+07,1.522947e+08,1.420764e+08,1.358404e+07,-1.307855e+06,...,19.506423,0.047870,0.282311,0.797621,1.349197,0.006823,-0.212249,1.400942e+07,0.330057,0.045867
1725,YONGNAM HOLDINGS LIMITED,71,2020.0,2.913047e+08,6.392860e+07,2.236608e+08,2.061644e+08,1.618667e+08,1.292187e+08,-4.172907e+06,...,19.489881,-0.064894,0.767790,-0.541603,0.394946,0.093303,0.066056,5.687663e+07,0.380703,0.443586
1726,YONGNAM HOLDINGS LIMITED,71,2021.0,2.595798e+08,6.673153e+07,1.896449e+08,1.906858e+08,1.146763e+08,1.165392e+08,4.512836e+04,...,19.374575,0.027514,0.730584,-2.513608,0.581912,0.078202,-0.002244,2.717399e+07,0.317394,0.448953
1727,YONGNAM HOLDINGS LIMITED,71,2022.0,2.308791e+08,6.542243e+07,1.623702e+08,1.868504e+08,1.612576e+08,1.057712e+08,-9.296445e+04,...,19.257405,0.009406,0.703270,2.244895,0.405701,0.082164,0.002840,3.845589e+07,0.309159,0.458124

In [118]:
# Filter for non-COVID impacted years

normal_sgx = year_filtered_sgx[~year_filtered_sgx['Year'].isin(covid_years)]
normal_sgx

,Company,NACE,Year,TA,CA,FA,TL,CL,DEBT,TAXEX,...,SIZE,PROFITABILITY,TANG,RISK,LIQUID,NDTSHIELD,TAXRATE,FCFF,GROWPOT,LEVERAGE
0,A SONIC AEROSPACE LIMITED,26,2015.0,6.107200e+07,4.941900e+07,1.079300e+07,3.331800e+07,3.160000e+07,-1.437900e+07,2.910000e+05,...,17.927564,-0.094659,0.176726,-82.603240,1.563892,0.041296,-0.029991,4.729897e+06,1.342854,-0.235443
1,A SONIC AEROSPACE LIMITED,26,2016.0,6.467500e+07,5.772600e+07,6.258000e+06,3.964200e+07,3.835100e+07,-1.338600e+07,-2.650000e+05,...,17.984885,-0.010839,0.096761,12.036318,1.505202,0.012911,0.097070,6.670989e+05,0.279433,-0.206973
2,A SONIC AEROSPACE LIMITED,26,2017.0,7.524600e+07,6.803700e+07,6.118000e+06,5.161200e+07,5.066000e+07,-1.792500e+07,-2.160000e+05,...,18.136273,-0.013888,0.081307,1.605162,1.343012,0.010791,0.150313,4.998374e+06,0.335075,-0.238219
3,A SONIC AEROSPACE LIMITED,26,2018.0,7.359400e+07,6.584300e+07,5.849000e+06,4.928100e+07,4.870300e+07,-1.906200e+07,-1.820000e+05,...,18.114074,0.013371,0.079477,-20.179642,1.351929,0.010245,-0.140108,8.313457e+05,0.378908,-0.259016
4,A SONIC AEROSPACE LIMITED,26,2019.0,6.428400e+07,5.679200e+07,7.293000e+06,3.731000e+07,3.643600e+07,-1.432700e+07,-3.740000e+05,...,17.978821,0.078838,0.113450,-193.544766,1.558678,0.029790,-0.173228,3.991890e+05,0.716118,-0.222870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,YONGNAM HOLDINGS LIMITED,71,2015.0,3.821897e+08,1.636325e+08,2.174199e+08,1.718686e+08,1.108282e+08,9.499187e+07,1.020581e+06,...,19.761428,0.053104,0.568880,-5.749879,1.476452,0.050781,-0.760675,3.078057e+07,0.399470,0.248546
1721,YONGNAM HOLDINGS LIMITED,71,2016.0,3.659407e+08,1.476575e+08,2.172461e+08,1.591834e+08,1.113158e+08,6.786421e+07,3.692180e+06,...,19.717982,-0.009018,0.593665,-159.408562,1.326474,0.052460,-0.203065,4.681371e+07,0.312993,0.185451
1722,YONGNAM HOLDINGS LIMITED,71,2017.0,3.757609e+08,1.307519e+08,2.450090e+08,1.518113e+08,1.283181e+08,6.448975e+07,2.448751e+06,...,19.744464,0.019051,0.652034,-10.040239,1.018967,0.059441,-0.239219,3.556327e+07,0.549959,0.171624
1723,YONGNAM HOLDINGS LIMITED,71,2018.0,3.503341e+08,1.196307e+08,2.306594e+08,1.703341e+08,1.032232e+08,9.217834e+07,8.678195e+06,...,19.674398,-0.059740,0.658398,-3.777753,1.158952,0.062545,-0.302336,-1.035043e+07,0.402061,0.263116
1724,YONGNAM HOLDINGS LIMITED,71,2019.0,3.429246e+08,1.037248e+08,2.351062e+08,2.013324e+08,1.504135e+08,1.227331e+08,3.608225e+06,...,19.653021,-0.033475,0.685591,-0.690731,0.689598,0.071469,-0.099419,4.195210e+07,0.410953,0.357901

## Produce the files for analysis

In [119]:
year_filtered_sgx.to_csv("data/clean_sgx.csv", index= False)
normal_sgx.to_csv("data/normal_clean_sgx.csv", index= False)
covid_sgx.to_csv("data/covid_clean_sgx.csv", index= False)