In [1]:
# Import necessary python libraries
import pandas as pd
import numpy as np
import re

In [2]:
# Read raw data file
sgx = pd.read_excel("data/raw_sgx_data.xlsx", index_col= None)
sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Total current assets\nUSD 2023,Total current assets\nUSD 2022,Total current assets\nUSD 2021,Total current assets\nUSD 2020,Total current assets\nUSD 2019,Total current assets\nUSD 2018,Total current assets\nUSD 2017,...,Cash & Cash Equivalents at the End of Period\nUSD 2013,Cash & Cash Equivalents at the End of Period\nUSD 2012,Cash & Cash Equivalents at the End of Period\nUSD 2011,Cash & Cash Equivalents at the End of Period\nUSD 2010,Cash & Cash Equivalents at the End of Period\nUSD 2009,Cash & Cash Equivalents at the End of Period\nUSD 2008,Cash & Cash Equivalents at the End of Period\nUSD 2007,Cash & Cash Equivalents at the End of Period\nUSD 2006,Cash & Cash Equivalents at the End of Period\nUSD 2005,Cash & Cash Equivalents at the End of Period\nUSD 2004
0,WILMAR INTERNATIONAL LIMITED,1041.0,C1,34373692000,32632410000,31814998000,27923570000,25583701000,26290404000,22579397000,...,2237232000,1528453000,1279658000,400475000,392263000,1103696000,444886000,-94081000,-101230000,3603868.301392
1,OLAM GROUP LIMITED,NaN,C1,17225670747.034698,15858883280.3866,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,FLEX LIMITED,2612.0,C1,n.a.,16021000000,14337000000,11363000000,9086270000,9103432000,9170414000,...,1593728000,1587087000,1518329000,1748471000,1927556000,1821886000,1719948000,714525000,942859000,869258000
3,JARDINE CYCLE & CARRIAGE LTD,4519.0,C1,11564100000,12131100000,11813500000,10056700000,10274500000,10107700000,9833700000,...,1601000000,1201000000,1510200000,847800000,962100000,839100000,672100000,551900000,491000000,177000000
4,CHINA AVIATION OIL (SINGAPORE) CORP LTD,4671.0,C1,n.a.,1205905000,1227737000,1567111000,1480610000,1330707000,1575915000,...,56299000,81144000,88065000,57988000,182192000,153102000,300472000,85376000,28657613.694668,2484392.227471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,PRINCIPAL S&P ETHICAL ASIA PACIFIC DIVIDEND ETF,6430.0,NF,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
601,GLOBAL INVESTMENTS LIMITED,6619.0,C1,76748826.021373,74323216.914833,73032480.209112,74967855.558395,92773161.569118,75400059.378862,99939396.802247,...,16079981.269956,20031057.97267,32417927.886844,15643633.756697,19594556.260526,55742080.205917,87753951.332152,42342240.832508,n.a.,n.a.
602,I M QUARRIES LIMITED,8552.0,C1,n.a.,0,480271.908641,482482.197881,466764.930487,553875.669301,791339.493155,...,0,0,407773.454666,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
603,ABF PAN ASIA BOND INDEX FUND,NaN,NF,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
604,YANGI FUND,6420.0,NF,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [3]:
sgx = sgx.replace("n.a.", np.nan)
sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Total current assets\nUSD 2023,Total current assets\nUSD 2022,Total current assets\nUSD 2021,Total current assets\nUSD 2020,Total current assets\nUSD 2019,Total current assets\nUSD 2018,Total current assets\nUSD 2017,...,Cash & Cash Equivalents at the End of Period\nUSD 2013,Cash & Cash Equivalents at the End of Period\nUSD 2012,Cash & Cash Equivalents at the End of Period\nUSD 2011,Cash & Cash Equivalents at the End of Period\nUSD 2010,Cash & Cash Equivalents at the End of Period\nUSD 2009,Cash & Cash Equivalents at the End of Period\nUSD 2008,Cash & Cash Equivalents at the End of Period\nUSD 2007,Cash & Cash Equivalents at the End of Period\nUSD 2006,Cash & Cash Equivalents at the End of Period\nUSD 2005,Cash & Cash Equivalents at the End of Period\nUSD 2004
0,WILMAR INTERNATIONAL LIMITED,1041.0,C1,3.437369e+10,3.263241e+10,3.181500e+10,2.792357e+10,2.558370e+10,2.629040e+10,2.257940e+10,...,2.237232e+09,1.528453e+09,1.279658e+09,4.004750e+08,3.922630e+08,1.103696e+09,4.448860e+08,-9.408100e+07,-1.012300e+08,3.603868e+06
1,OLAM GROUP LIMITED,NaN,C1,1.722567e+10,1.585888e+10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FLEX LIMITED,2612.0,C1,NaN,1.602100e+10,1.433700e+10,1.136300e+10,9.086270e+09,9.103432e+09,9.170414e+09,...,1.593728e+09,1.587087e+09,1.518329e+09,1.748471e+09,1.927556e+09,1.821886e+09,1.719948e+09,7.145250e+08,9.428590e+08,8.692580e+08
3,JARDINE CYCLE & CARRIAGE LTD,4519.0,C1,1.156410e+10,1.213110e+10,1.181350e+10,1.005670e+10,1.027450e+10,1.010770e+10,9.833700e+09,...,1.601000e+09,1.201000e+09,1.510200e+09,8.478000e+08,9.621000e+08,8.391000e+08,6.721000e+08,5.519000e+08,4.910000e+08,1.770000e+08
4,CHINA AVIATION OIL (SINGAPORE) CORP LTD,4671.0,C1,NaN,1.205905e+09,1.227737e+09,1.567111e+09,1.480610e+09,1.330707e+09,1.575915e+09,...,5.629900e+07,8.114400e+07,8.806500e+07,5.798800e+07,1.821920e+08,1.531020e+08,3.004720e+08,8.537600e+07,2.865761e+07,2.484392e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,PRINCIPAL S&P ETHICAL ASIA PACIFIC DIVIDEND ETF,6430.0,NF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,GLOBAL INVESTMENTS LIMITED,6619.0,C1,7.674883e+07,7.432322e+07,7.303248e+07,7.496786e+07,9.277316e+07,7.540006e+07,9.993940e+07,...,1.607998e+07,2.003106e+07,3.241793e+07,1.564363e+07,1.959456e+07,5.574208e+07,8.775395e+07,4.234224e+07,NaN,NaN
602,I M QUARRIES LIMITED,8552.0,C1,NaN,0.000000e+00,4.802719e+05,4.824822e+05,4.667649e+05,5.538757e+05,7.913395e+05,...,0.000000e+00,0.000000e+00,4.077735e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,ABF PAN ASIA BOND INDEX FUND,NaN,NF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
604,YANGI FUND,6420.0,NF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Removing "\nth" pattern and ".1" pattern (for duplicated column names) from the column names
sgx.columns = pd.Index([re.sub(pattern= "\.\d?$", repl= "", string= 
                               re.sub(pattern= " ?\n(th)? ?", repl= " ", string= col)) for col in sgx.columns])

sgx = sgx.loc[:, ~sgx.columns.duplicated()]

In [5]:
# Lengthening dataframe using columns with time periods

id_vars = ['Company name Latin alphabet', 'NACE Rev. 2, core code (4 digits)', 'Consolidation code']

melted_sgx = pd.melt(sgx, id_vars= id_vars)

melted_sgx["year"] = melted_sgx["variable"].str.extract(r"(\d{4})$")[0]
melted_sgx["variable"] = melted_sgx["variable"].str.replace("\s+\d{4}$|USD", "", regex= True)

melted_sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,variable,value,year
0,WILMAR INTERNATIONAL LIMITED,1041.0,C1,Total current assets,3.437369e+10,2023
1,OLAM GROUP LIMITED,NaN,C1,Total current assets,1.722567e+10,2023
2,FLEX LIMITED,2612.0,C1,Total current assets,NaN,2023
3,JARDINE CYCLE & CARRIAGE LTD,4519.0,C1,Total current assets,1.156410e+10,2023
4,CHINA AVIATION OIL (SINGAPORE) CORP LTD,4671.0,C1,Total current assets,NaN,2023
...,...,...,...,...,...,...
1827095,PRINCIPAL S&P ETHICAL ASIA PACIFIC DIVIDEND ETF,6430.0,NF,Cash & Cash Equivalents at the End of Period,NaN,2004
1827096,GLOBAL INVESTMENTS LIMITED,6619.0,C1,Cash & Cash Equivalents at the End of Period,NaN,2004
1827097,I M QUARRIES LIMITED,8552.0,C1,Cash & Cash Equivalents at the End of Period,NaN,2004
1827098,ABF PAN ASIA BOND INDEX FUND,NaN,NF,Cash & Cash Equivalents at the End of Period,NaN,2004
1827099,YANGI FUND,6420.0,NF,Cash & Cash Equivalents at the End of Period,NaN,2004

In [6]:
pivoted_sgx = melted_sgx.pivot(index= id_vars + ["year"], columns= "variable",values= "value").reset_index().rename_axis(None, axis=1)
pivoted_sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,year,Accounts receivable,Accumulated depreciation - No breakdown,Accumulated depreciation on buildings,Accumulated depreciation on land,Accumulated depreciation on leased assets,"Accumulated depreciation on other property, plant & equipment",...,Total other current liabilities,Total other non-current assets,Total other non-current liabilities,Total others current assets,Total shareholders' equity,Trade creditors,Transportation equipment,Treasury shares,Unusual & exceptional income (expenses),Work in progress
0,5E RESOURCES LTD,3900.0,C1,2004,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5E RESOURCES LTD,3900.0,C1,2005,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5E RESOURCES LTD,3900.0,C1,2006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5E RESOURCES LTD,3900.0,C1,2007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5E RESOURCES LTD,3900.0,C1,2008,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12095,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2019,NaN,NaN,-3.855653e+06,NaN,NaN,-432224.627256,...,9.330693e+06,9.243025e+05,32620.726585,9.413118e+06,1.193132e+07,192229.281664,317178.314745,NaN,2475.680143,466301.636279
12096,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2020,NaN,NaN,-4.074504e+06,NaN,-335875.285983,-356107.032359,...,1.006720e+07,1.455978e+06,30842.802167,1.638418e+07,1.206505e+07,329933.094740,345071.534336,NaN,NaN,472404.203832
12097,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2021,1.857901e+03,NaN,-4.785335e+06,NaN,-396507.135302,-451624.878436,...,1.576677e+07,1.627986e+06,32822.925687,1.239205e+07,1.260369e+07,230534.605414,395887.834817,NaN,NaN,409976.920843
12098,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2022,1.409855e+07,NaN,-4.931439e+06,NaN,-410318.447888,-498297.175884,...,7.944076e+06,2.081466e+06,31666.367292,7.964390e+05,1.923866e+07,252135.981083,381938.213050,NaN,NaN,432574.526787
12099,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2023,1.266256e+07,NaN,-4.837679e+06,NaN,-404115.522534,-515543.422237,...,8.433673e+06,1.698828e+06,28373.482496,5.692602e+06,1.856204e+07,316102.632657,352189.294860,NaN,4407.531261,370094.890609

In [7]:
pivoted_sgx = pivoted_sgx.drop(columns= [col for col in pivoted_sgx.columns if pivoted_sgx[col].eq("n.a.").all()])

In [10]:
pivoted_sgx.to_csv("Data/sgx_data.csv", index= False)

## Filter out usable fields

In [2]:
sgx = pd.read_csv("Data/sgx_data.csv")
sgx

,Company name Latin alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,year,Accounts receivable,Accumulated depreciation - No breakdown,Accumulated depreciation on buildings,Accumulated depreciation on land,Accumulated depreciation on leased assets,"Accumulated depreciation on other property, plant & equipment",...,Total other current liabilities,Total other non-current assets,Total other non-current liabilities,Total others current assets,Total shareholders' equity,Trade creditors,Transportation equipment,Treasury shares,Unusual & exceptional income (expenses),Work in progress
0,5E RESOURCES LTD,3900.0,C1,2004,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5E RESOURCES LTD,3900.0,C1,2005,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5E RESOURCES LTD,3900.0,C1,2006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5E RESOURCES LTD,3900.0,C1,2007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5E RESOURCES LTD,3900.0,C1,2008,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12095,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2019,NaN,NaN,-3.855653e+06,NaN,NaN,-432224.627256,...,9.330693e+06,9.243025e+05,32620.726585,9.413118e+06,1.193132e+07,192229.281664,317178.314745,NaN,2475.680143,466301.636279
12096,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2020,NaN,NaN,-4.074504e+06,NaN,-335875.285983,-356107.032359,...,1.006720e+07,1.455978e+06,30842.802167,1.638418e+07,1.206505e+07,329933.094740,345071.534336,NaN,NaN,472404.203832
12097,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2021,1.857901e+03,NaN,-4.785335e+06,NaN,-396507.135302,-451624.878436,...,1.576677e+07,1.627986e+06,32822.925687,1.239205e+07,1.260369e+07,230534.605414,395887.834817,NaN,NaN,409976.920843
12098,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2022,1.409855e+07,NaN,-4.931439e+06,NaN,-410318.447888,-498297.175884,...,7.944076e+06,2.081466e+06,31666.367292,7.964390e+05,1.923866e+07,252135.981083,381938.213050,NaN,NaN,432574.526787
12099,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2023,1.266256e+07,NaN,-4.837679e+06,NaN,-404115.522534,-515543.422237,...,8.433673e+06,1.698828e+06,28373.482496,5.692602e+06,1.856204e+07,316102.632657,352189.294860,NaN,4407.531261,370094.890609

In [3]:
useful_fields = ['Company name Latin alphabet', 'NACE Rev. 2, core code (4 digits)', 'Consolidation code', 'year',
                 'Total shareholders\' equity ', 'Total liabilities ', 'Total current assets ', 'Net Cash from Operating Activities ',
                 'Net Cash from Financing Activities ', 'Net Cash from Investing Activities ', 'Total current liabilities ',
                 'Depreciation, Depletion & Amortization ', 'EBITDA ', 'Total depreciation, amortization & depletion ',
                 'Net property, plant & equipment ', 'Total long-term interest-bearing debt ', 'Net debt ', 'Net Income/Starting Line ',
                 'Net profit ', 'Earnings before interest & tax (EBIT) ', 'Increase/Decrease in Long Term Borrowings ', 'Increase/Decrease in Short Term Borrowings ',
                 'Loans & Borrowings ', 'Total assets ', 'Income tax expense ', 'Intangible assets ']
sgx = sgx[useful_fields]

In [4]:
colname_mapping = {
    'Company name Latin alphabet' : 'Company',
    'NACE Rev. 2, core code (4 digits)' : 'NACE',
    'year' : 'Year',
    'Total shareholders\' equity ' : 'TE',
    'Total liabilities ' : 'TL',
    'Total current assets ' : 'CA',
    'Net Cash from Operating Activities ' : 'CFO',
    'Net Cash from Financing Activities ' : 'CFF',
    'Net Cash from Investing Activities ' : 'CFI',
    'Total current liabilities ' : 'CL',
    'Depreciation, Depletion & Amortization ' : 'DA',
    'EBITDA ' : 'EBIDTA',
    'Total depreciation, amortization & depletion ' : 'TDA', # need to check if this duplicates with DA
    'Net property, plant & equipment ' : 'FA', # fixed assets
    'Total long-term interest-bearing debt ' : 'LTD',
    'Net debt ' : 'ND',
    'Net Income/Starting Line ' : 'NI', # net income from cashflow statement
    'Net profit ' : 'NP', # need to check if this duplicates with NI
    'Earnings before interest & tax (EBIT) ' : 'EBIT',
    'Increase/Decrease in Long Term Borrowings ' : 'DeltaLTB',
    'Increase/Decrease in Short Term Borrowings ' : 'DeltaSTB',
    'Loans & Borrowings ' : 'LB',
    'Total assets ' : 'TA',
    'Income tax expense ' : 'ITE', # can be used to calculate tax coverage & interest expense with EBIT
    'Intangible assets ' : 'IA'
}

sgx = sgx.rename(columns = colname_mapping)

In [5]:
sgx = sgx.set_index(["Company", "NACE", "Consolidation code", "Year"])
sgx = sgx.groupby(level= "Company", as_index= False).apply(lambda x: x.dropna(how= "all"))
sgx = sgx.droplevel(level= 0).reset_index()

sgx

,Company,NACE,Consolidation code,Year,TE,TL,CA,CFO,CFF,CFI,...,ND,NI,NP,EBIT,DeltaLTB,DeltaSTB,LB,TA,ITE,IA
0,5E RESOURCES LTD,3900.0,C1,2018,7.115138e+06,5.139543e+06,4.352060e+06,2.675849e+06,-1.357255e+06,-6.480609e+05,...,2.033345e+06,2.226652e+06,1.707382e+06,2.461278e+06,-1.102090e+06,NaN,2.653135e+05,1.225468e+07,-5.192703e+05,NaN
1,5E RESOURCES LTD,3900.0,C1,2019,1.014905e+07,3.616616e+06,4.927062e+06,5.402077e+06,-2.830299e+06,-2.036897e+06,...,-1.619059e+06,3.901527e+06,2.953940e+06,3.843861e+06,-2.715455e+06,NaN,9.324374e+05,1.376567e+07,-9.475871e+05,NaN
2,5E RESOURCES LTD,3900.0,C1,2020,1.123524e+07,4.179915e+06,7.021929e+06,1.777224e+06,-2.845751e+05,1.021181e+06,...,-3.230501e+06,2.816098e+06,2.004984e+06,2.828059e+06,-2.240219e+05,NaN,8.686768e+05,1.541515e+07,-8.111139e+05,NaN
3,5E RESOURCES LTD,3900.0,C1,2021,1.302299e+07,4.241140e+06,8.408525e+06,3.222462e+06,4.293582e+05,-2.437021e+06,...,-3.770354e+06,3.382663e+06,2.226293e+06,3.403975e+06,4.688697e+05,NaN,7.928640e+05,1.726413e+07,-1.156370e+06,NaN
4,5E RESOURCES LTD,3900.0,C1,2022,2.170746e+07,6.164288e+06,1.639860e+07,4.631997e+06,5.745298e+06,-1.552459e+06,...,-1.102334e+07,3.940630e+06,2.791752e+06,3.771811e+06,-8.062543e+05,NaN,8.180376e+04,2.787174e+07,-1.148878e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8832,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2019,1.193132e+07,9.555543e+06,1.072858e+07,-5.213491e+04,-4.492631e+05,-7.528980e+04,...,8.481098e+06,6.069785e+05,6.055222e+05,1.374731e+06,0.000000e+00,-2.912565e+05,0.000000e+00,2.148686e+07,-1.456282e+03,1.028864e+06
8833,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2020,1.206505e+07,1.744854e+07,1.930491e+07,-6.971605e+06,7.282721e+06,3.835543e+05,...,1.548026e+07,6.144509e+05,4.735360e+05,3.391293e+05,NaN,6.823050e+06,7.020557e+06,2.951359e+07,-1.409148e+05,NaN
8834,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2021,1.260369e+07,1.756243e+07,1.991949e+07,1.877564e+06,-2.091842e+06,-1.582313e+05,...,1.599080e+07,-5.524160e+05,-5.993280e+05,-4.907956e+04,NaN,-6.335444e+06,1.532304e+06,3.016613e+07,-4.691201e+04,NaN
8835,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2022,1.923866e+07,9.705293e+06,1.909572e+07,8.035789e+06,-8.038029e+06,-1.864133e+05,...,8.158571e+06,7.151670e+06,7.082064e+06,6.704009e+06,-7.622483e+06,7.621587e+06,1.477415e+06,2.894396e+07,-6.960626e+04,NaN
8836,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2023,1.856204e+07,1.351418e+07,2.373979e+07,-2.026500e+06,3.646681e+06,-1.148713e+05,...,1.010991e+07,9.352230e+05,8.218668e+05,1.019517e+06,NaN,3.373690e+06,4.736030e+06,3.207622e+07,-1.133562e+05,NaN

In [15]:
cpi = pd.read_csv("Data/sg_cpi.csv")
cpi

    Year       CPI
0   2004  1.662727
1   2005  0.425106
2   2006  0.962902
3   2007  2.104880
4   2008  6.627782
5   2009  0.596720
6   2010  2.823661
7   2011  5.247793
8   2012  4.575603
9   2013  2.358604
10  2014  1.025148
11  2015 -0.522618
12  2016 -0.532269
13  2017  0.576260
14  2018  0.438620
15  2019  0.565261
16  2020 -0.181917
17  2021  2.304860
18  2022  6.121060

In [19]:
sgx = pd.merge(left= sgx, right= cpi, how= "left")
sgx

,Company,NACE,Consolidation code,Year,TE,TL,CA,CFO,CFF,CFI,...,NI,NP,EBIT,DeltaLTB,DeltaSTB,LB,TA,ITE,IA,CPI
0,5E RESOURCES LTD,3900.0,C1,2018,7.115138e+06,5.139543e+06,4.352060e+06,2.675849e+06,-1.357255e+06,-6.480609e+05,...,2.226652e+06,1.707382e+06,2.461278e+06,-1.102090e+06,NaN,2.653135e+05,1.225468e+07,-5.192703e+05,NaN,0.438620
1,5E RESOURCES LTD,3900.0,C1,2019,1.014905e+07,3.616616e+06,4.927062e+06,5.402077e+06,-2.830299e+06,-2.036897e+06,...,3.901527e+06,2.953940e+06,3.843861e+06,-2.715455e+06,NaN,9.324374e+05,1.376567e+07,-9.475871e+05,NaN,0.565261
2,5E RESOURCES LTD,3900.0,C1,2020,1.123524e+07,4.179915e+06,7.021929e+06,1.777224e+06,-2.845751e+05,1.021181e+06,...,2.816098e+06,2.004984e+06,2.828059e+06,-2.240219e+05,NaN,8.686768e+05,1.541515e+07,-8.111139e+05,NaN,-0.181917
3,5E RESOURCES LTD,3900.0,C1,2021,1.302299e+07,4.241140e+06,8.408525e+06,3.222462e+06,4.293582e+05,-2.437021e+06,...,3.382663e+06,2.226293e+06,3.403975e+06,4.688697e+05,NaN,7.928640e+05,1.726413e+07,-1.156370e+06,NaN,2.304860
4,5E RESOURCES LTD,3900.0,C1,2022,2.170746e+07,6.164288e+06,1.639860e+07,4.631997e+06,5.745298e+06,-1.552459e+06,...,3.940630e+06,2.791752e+06,3.771811e+06,-8.062543e+05,NaN,8.180376e+04,2.787174e+07,-1.148878e+06,NaN,6.121060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8832,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2019,1.193132e+07,9.555543e+06,1.072858e+07,-5.213491e+04,-4.492631e+05,-7.528980e+04,...,6.069785e+05,6.055222e+05,1.374731e+06,0.000000e+00,-2.912565e+05,0.000000e+00,2.148686e+07,-1.456282e+03,1.028864e+06,0.565261
8833,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2020,1.206505e+07,1.744854e+07,1.930491e+07,-6.971605e+06,7.282721e+06,3.835543e+05,...,6.144509e+05,4.735360e+05,3.391293e+05,NaN,6.823050e+06,7.020557e+06,2.951359e+07,-1.409148e+05,NaN,-0.181917
8834,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2021,1.260369e+07,1.756243e+07,1.991949e+07,1.877564e+06,-2.091842e+06,-1.582313e+05,...,-5.524160e+05,-5.993280e+05,-4.907956e+04,NaN,-6.335444e+06,1.532304e+06,3.016613e+07,-4.691201e+04,NaN,2.304860
8835,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2022,1.923866e+07,9.705293e+06,1.909572e+07,8.035789e+06,-8.038029e+06,-1.864133e+05,...,7.151670e+06,7.082064e+06,6.704009e+06,-7.622483e+06,7.621587e+06,1.477415e+06,2.894396e+07,-6.960626e+04,NaN,6.121060
8836,ZHONGXIN FRUIT AND JUICE LIMITED,1039.0,C1,2023,1.856204e+07,1.351418e+07,2.373979e+07,-2.026500e+06,3.646681e+06,-1.148713e+05,...,9.352230e+05,8.218668e+05,1.019517e+06,NaN,3.373690e+06,4.736030e+06,3.207622e+07,-1.133562e+05,NaN,NaN

In [20]:
sgx.to_csv("Data/filtered_sgx.csv", index= False)